@import "tailwindcss";


.box-style {
    @apply flex items-center justify-center text-white text-lg font-semibold rounded-lg shadow-lg transition-all duration-300;
    background: white;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .box-style {
        font-size: 14px;
    }
}

